body {
    background-image: url("https://img.freepik.com/vector-gratis/fondo-invierno-hojas-pinceles-color-pastel_220290-42.jpg?w=2000");
    nav {
        text-align: center;
        font-size: 30px;
        a{
            color: rgb(126, 99, 177);
            text-decoration: none;
            font-family: 'Bebas Neue';
        }
        ul {
            margin: 35px;
            padding: 10px 20px;
            margin-top: 0px;
            
        }   
    }
    
