/*propiedades de las descripciones de productos*/
article {
    text-align: center;
    font-size: 30px;
    margin: 100px;
}


p {
    color: rgb(167, 71, 130);
    font-size: 30px;
    font-family: 'Bebas Neue';

}

/********MIXINS*********/
@mixin tamañito($ancho, $alto) {
    height: $alto;
    width: $ancho;
}

/*propiedades de las imagenes-productos*/

.imagenDos {
    @include tamañito(150px, 250px);
    margin: 20px;
}
.imagenIndex {
    @include tamañito(150px, 250px);
    margin: 30px;
    margin-left: 60px;
    border: solid 15px #f9d29d;
    transition: all 2s;
}
.imagenIndex:hover {
    @include tamañito(225px,375px );
}
/************EXTEND**************/

.imagenIndexDos {
    @extend .imagenDos;
    border: solid 15px rgb(175, 163, 97);
}
.ofertas {
    @include tamañito(370px, 190px);
    margin: 40px;
}
.imagenContacto {
    @include tamañito(350px, 250px);
}
.consulta {
    @include tamañito(420px, 260px);
}
.emailNombre {
    @include tamañito(400px, 20px);
}

