/*RESPONSIVE DESIGN*/
$violeta: rgb(131, 37, 69);

/**sin necesidad de responsive**/
.promo {
    width: 150px;
    height: 240px;
}

body {
    background-image: url("https://img.freepik.com/vector-gratis/fondo-invierno-hojas-pinceles-color-pastel_220290-42.jpg?w=2000");
    nav {
        text-align: center;
        font-size: 30px;

        a {
            color: rgb(126, 99, 177);
            text-decoration: none;
            font-family: 'Bebas Neue';
        }

        ul {
            margin: 35px;
            padding: 10px 20px;
            margin-top: 0px;
        }
    }
}
h3 {
    color: rgb(99, 63, 81);

    text-align: center;
    padding: 50px;
    margin-top: 20px;
    margin-bottom: 40px;
    background-image: url(https://www.arquitecturaydiseno.es/medio/2022/03/19/apertura-macrame_84504a26_1280x794.jpg);
    background-position: 60px;
    background-repeat: no-repeat;
    background-position-x: center;

}

/*desktop*/

@media (min-width:1024px) {

    /***************MAP****************/
    $colores: (h4: rgb(199, 165, 238),
        h5: rgb(190, 218, 204),
        p: rgb(167, 201, 198),
    );

    @each $nombre,
    $valor in $colores {
        #{$nombre} {
            background-color: $valor;
        }

    }
    /*formulario de contacto*/
    label {
        margin-left: 350px;
        margin-bottom: 15px;
        font-size: 35px;
        font-family: 'Bebas Neue';
    }
    /*propiedades de los titulos*/
    .header-flex {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }
    header {
        h1 {
            color: $violeta;
            font-size: 60px;
            font-family: 'Major Mono Display';
            padding-top: 30px;
        }
        h2 {
            color: $violeta;
            font-size: 30px;
            font-family: 'Satisfy';
        }
    }
    .descripcion-flex {
        display: flex;
        justify-content: center;
        padding: 10px;
    }
    h4 {
        color: $violeta;
        font-size: 35px;
        font-family: 'Bebas Neue';
    }
    h5 {
        color: rgb(92, 47, 112);
        font-size: 20px;
        font-family: 'Bebas Neue';
    }
    /*propiedades de las descripciones de productos*/
    article {
        text-align: center;
        font-size: 30px;
        margin: 100px;
    }
    p {
        color: $violeta;
        font-size: 20px;
        font-family: 'Bebas Neue';
    }
    /*DEGRADE EN CONTACTOS*/
    .contactos {
        background-color: #f89b9e;
        background-image: linear-gradient(315deg, #f89b9e 0%, #c9d9ff 74%);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    /*ANIMACION EN INDEX*/

    .animacion {
        animation-name: texto;
        animation-duration: 3s;
        animation-iteration-count: 1;
    }
    @keyframes texto {
        from {
            transform: translateX(1200px);
        }
        to {
            transform: translate(0);
        }
    }
    /*propiedades de las imagenes-productos*/
    /*TRANSICION*/
    .imagenDos {
        width: 150px;
        height: 250px;
        margin: 20px;
        transition: all 2s;
    }
    .imagenDos:hover {
        width: 300px;
        height: 500px;
        border: solid 20px $violeta;
    }
    .imagenIndex {
        width: 150px;
        height: 250px;
        margin: 30px;
        margin-left: 60px;
        border: solid 15px transparent;
        border-image: linear-gradient(315deg, #fc89ac 0%, #b86d29 74%);
        ;
        transition: all 2s;
    }
    .imagenLunar {
        width: 350px;
        height: 550px;
        margin-left: 400px;
        padding: 50px;
    }
    .imagenIndex:hover {
        width: 225px;
        height: 375px;
    }
    .imagenContacto {
        width: 350px;
        height: 250px;
        margin-left: 100px;
        transform: translateX(350px)
    }

    .logo {
        width: 75px;
        height: 150px;
        margin-left: 1000px;
        transform: translateY(-1030px);
    }
    /*fondo imagen*/

    div {
        background-color: rgb(250, 244, 249);
        margin: 15px;
        color: $violeta;
        font-size: 30px;
        font-family: 'Satisfy';
    }

    .menu-flex {
        display: flex;
        justify-content: center;
    }

    .flex-productos {
        display: flex;
        flex-flow: column;
        padding-top: -10px;
    }

}

/*tablet*/

@media (min-width:481px) and (max-width:1023px) {

 /*DEGRADE EN CONTACTOS*/
 .contactos {
    background-color: #f89b9e;
    background-image: linear-gradient(315deg, #f89b9e 0%, #c9d9ff 74%);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

    /*formulacio en contactos*/
    label {
        margin-left: 220px;
        margin-bottom: 15px;
        font-size: 35px;
        font-family: 'Bebas Neue';
    }
    .header-flex {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }

    h1 {
        color: $violeta;
        font-size: 40px;
        font-family: 'Major Mono Display';
        padding-top: 30px;
    }

    h2 {
        color: $violeta;
        font-size: 30px;
        font-family: 'Satisfy';
    }

    h4 {
        color: $violeta;
        font-size: 25px;
        font-family: 'Bebas Neue';
    }

    h5 {
        color: rgb(92, 47, 112);
        font-size: 30px;
        font-family: 'Bebas Neue';
    }

    .menu-flex {
        display: flex;
        flex-flow: column;
    }

    div {
        background-color: rgb(250, 244, 249);
        margin: 15px;
        color: $violeta;
        font-size: 30px;
        font-family: 'Satisfy';
    }

    /*propiedades de las descripciones de productos*/

    article {
        text-align: center;
        font-size: 30px;
        margin: 100px;
    }

    p {
        color: $violeta;
        font-size: 30px;
        font-family: 'Bebas Neue';
    }


    /*propiedades de las imagenes-productos*/

    .imagenDos {
        width: 150px;
        height: 250px;
        margin: 20px;
    }

    .imagenIndex {
        width: 150px;
        height: 250px;
        margin: 30px;
        margin-left: 60px;
        border: solid 15px #f9d29d;
        transition: all 2s;
    }

    .imagenIndex:hover {
        width: 225px;
        height: 375px;
    }

    .imagenLunar {
        width: 350px;
        height: 550px;
        margin-left: 400px;
        padding: 50px;
    }

    .imagenContacto {
        margin-left: 270px;
    }
}

/*smartphone*/

@media (max-width:480px) {
    .imagenContacto {
        margin-left: 50px;
    }
    
 /*DEGRADE EN CONTACTOS*/
    .contactos {
        background-color: #f89b9e;
        background-image: linear-gradient(315deg, #f89b9e 0%, #c9d9ff 74%);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

/*formulario de contacto*/
label {
    font-size: 18px;
    font-family: 'Bebas Neue';
}
    .header-flex {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }

    h1 {
        color: $violeta;
        font-size: 40px;
        font-family: 'Major Mono Display';

    }

    h2 {
        color: $violeta;
        font-size: 25px;
        font-family: 'Satisfy';
        margin-left: 200px;
        padding: 10x;
    }

    h4 {
        color: $violeta;
        font-size: 25px;
        font-family: 'Bebas Neue';

    }

    h5 {
        color: rgb(92, 47, 112);
        font-size: 25px;
        font-family: 'Bebas Neue';

    }

    .menu-flex {
        display: flex;
        flex-flow: column;
    }

    div {
        background-color: rgb(250, 244, 249);
        margin: 18px;
        color: $violeta;
        font-size: 30px;
        font-family: 'Satisfy';
    }

    #grilla-areas {
        display: grid;
        grid-template-areas:

            "cabeza"
            "cuello "
            "productos"
            "productosDos ";

        grid-template-columns: 100%;
        grid-template-rows: 1fr;
    }



}